/* Importing Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Variables Declaration*/
/*Basic Settings*/
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem; /* 16px */
  line-height: 1.5;
  color: #131313;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: #ff900e;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem; /* 16px */
  border-radius: 0.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1.6rem; /* 16px */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style: none;
}

.header__title {
  margin-top: 10rem;
  font-size: 6.4rem;
  line-height: 1.2;
}

.header__description {
  font-size: 1.6rem;
  color: #727272;
  max-width: 60vw;
  margin: 0 auto;
}

/* Responsive Design */
.text-center {
  text-align: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.header__button {
  margin: 5rem 0;
}

.btn {
  cursor: pointer;
  background-color: #ff900e;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem; /* 16px */
  border-radius: 0.4rem;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}
.nav__item {
  font-size: 1.8rem; /* 18px */
  font-weight: 500;
  line-height: 2.6rem;
  color: #131313;
}
.nav__item:not(:last-child) {
  margin-right: 2rem;
}
.nav__button {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.8rem; /* 18px */
  font-weight: 500;
  font-family: "Work Sans", sans-serif;
}

.header {
  background-color: rgba(255, 144, 14, 0.1);
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  max-width: 80vw; /* 86% of viewport width */
  margin: 0 auto; /* Centering the body*/
}

.logo h1 {
  font-size: 4.5rem;
  font-weight: bold;
}

.header__content,
.hero {
  max-width: 80vw; /* 86% of viewport width */
  margin: 0 auto; /* Centering the body*/
}

.hero__image {
  max-width: 100%;
  height: auto;
  display: block;
  padding-bottom: 2rem;
}

.Quick-list {
  margin-top: 8rem;
  display: flex;
  align-items: center;
}
.Quick-list__img {
  flex: 0 0 47%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.Quick-list__content {
  flex: 0 0 47%;
  margin-left: 6%;
}
.Quick-list__tittle {
  font-size: 4.5rem;
  margin-bottom: 1.6rem;
  font-weight: 400;
  color: #727272;
  line-height: 1.2;
}
.Quick-list__tittle span {
  font-weight: 700;
  color: black;
}
.Quick-list__description {
  font-size: 1.6rem;
  color: #727272;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.text-primary {
  color: #ff900e !important;
  font-weight: 700;
}

.Features {
  display: flex;
  margin-top: 13rem;
  margin-bottom: 13rem;
  gap: 14rem;
}
.Features__content {
  margin-top: 3rem;
  max-width: 35%;
}
.Features__title {
  border-left: 4px solid #ff900e;
  padding: 0 0 0 2rem;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.2;
}
.Features__description {
  font-size: 1.4rem;
  color: #727272;
  line-height: 1.2;
}
.Features__list {
  margin-top: 3rem;
}
.Features__item {
  padding: 3rem;
  box-shadow: 2px 2px 10px rgba(114, 114, 114, 0.1);
}
.Features__item:not(:last-child) {
  margin-bottom: 2rem;
}
.Features__item--title {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}
.Features__item--description {
  font-size: 1.4rem;
  color: #727272;
  line-height: 1.2;
}
.Features__img {
  position: relative;
}

.experience {
  padding: 4.2rem 4.6rem;
  font-size: 6.5rem;
  font-weight: 700;
  position: absolute;
  bottom: 0;
  left: -9rem;
  text-align: center;
}
.experience span {
  font-size: 2.5rem;
  font-weight: 500;
  display: block;
}

.Facts {
  margin-bottom: 18rem;
}
.Facts__title {
  font-size: 4.5rem;
}
.Facts__description {
  font-size: 1.4rem;
  color: #727272;
}
.Facts__list {
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}
.Facts__item {
  border: 1px solid #ff900e;
  padding: 4.5rem 3.6rem;
  border-radius: 0.8rem;
  justify-items: center;
  font-weight: 600;
}
.Facts__item--number {
  font-size: 4.5rem;
  color: #424242;
}
.Facts__item--text {
  font-size: 2rem;
  color: #727272;
}

.Sponsors {
  margin-bottom: 13rem;
}
.Sponsors__header {
  text-align: center;
}
.Sponsors__title {
  font-size: 4.5rem;
  font-weight: 600;
}
.Sponsors__description {
  font-size: 1.6rem;
  color: #727272;
  max-width: 50%;
  margin: 0 auto;
}
.Sponsors__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  margin-top: 5rem;
}
.Sponsors__item {
  filter: grayscale(100%);
}
.Sponsors__item:hover {
  filter: grayscale(0%);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.main {
  max-width: 80vw;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
