@use "../Basic/base" as *;
.header {
  background-color: $bg-color;
}
.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  max-width: 80vw; /* 86% of viewport width */
  margin: 0 auto; /* Centering the body*/
}
.logo h1 {
  font-size: 4.5rem;
  font-weight: bold;
}
.header__content,
.hero {
  max-width: 80vw; /* 86% of viewport width */
  margin: 0 auto; /* Centering the body*/
}

.hero__image {
  max-width: 100%;
  height: auto;
  display: block;
  padding-bottom: 2rem;
}
