@use "../Basic/base" as *;
.header__button {
  margin: 5rem 0;
}
.btn {
  cursor: pointer;
  background-color: $btn-color;
  color: #fff;
  border: none;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem; /* 16px */
  border-radius: 0.4rem;
}
